<!-- TODO: create component for whole input. Applies search && label in this case. -->
<div class="form-group">
    <div {{bind-attr class='newLabel:input-group'}}>
        {{input value=newLabel placeholder='Create label' action='createLabel' on='enter' class='form-control'}}

        {{#if newLabel}}
            <div class="input-group-btn">
                <div {{action 'clear' 'newLabel'}} class="btn btn-default">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        {{/if}}
    </div>
</div>

{{#each label in fileSystem.labels}}
    {{view label-component label=label action='search' }}&nbsp;
{{/each}}
