<!-- TODO: create component for whole input. Applies search && label in this case. -->
<div class="form-group">
    <div {{bind-attr class='newLabel:input-group'}}>
        {{input value=newLabel placeholder='Create label' action='createLabel' on='enter' class='form-control'}}

        {{#if newLabel}}
            {{clear-addon text=newLabel}}
        {{/if}}
    </div>
</div>

{{#each label in fileSystem.labels}}
    {{view label-component label=label action='search' }}&nbsp;
{{/each}}
