@audio-height: 50px;

/* TODO: Fix when writing in search */
html {
   overflow-y: scroll;
}

.bar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.action-bar {
    .bar;
    height: 34px;
    font-size: 22px;
    background: orange;
    top: 34px;
}

.menu-placeholder {
    height: 34px;
}

.action-cancel {
    float: right;
}

.loading-bar {
    .bar;
    height: 4px;
    margin: 0;
}

.inner-image {
    width: 120px;
    height: 90px;
    top: -11px;
    position: absolute;
}

.outer-image {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 68px;
}

.audio-stamp {
    height: @audio-height;
}

.audio-slider {
    .bar;
    z-index: 4;
    bottom: @audio-height - 5px;
}

.audio-bar {
    .bar;
    bottom: 0;
    height: @audio-height;
    background: white;
}

.audio-title, .audio-icon {
    line-height: @audio-height;
}

.audio-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    white-space: nowrap;
}

.audio-icon {
    font-size: 34px;
}

.audio-timer {
    padding-top: 8px;
    font-size: 12px;
}

.slider-selection {
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 0;
    background-image: none;
}

.slider-track-high {
    border-radius: 0;
    background: gray;
}

.slider-handle {
    background: white;
    border: 6px solid black;
    border-radius: 50%;
}

.audio-slider {
    .slider-horizontal {
        width: 100%;
    }
}

.audio-list {
    border: none;
}

.search {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        padding: 30px 0;
    }
}

.btn-icon {
    width: 60px;
}

.highlight {
    color: #ef6c00;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: inherit;

        &::-webkit-file-upload-button {
            display: none;
        }
    }
}

.outer-panel {
    position: relative;
    padding-right: 0;
}

.inner-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.text-large {
    font-size: 52px;
}

.inner-fill {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 0;
}

.handle {
    .inner-fill;
    background: green;
}

.outer-fill {
    display: table;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-bar {
    .bar;
    top: 0;
    background-color: #eeeeee;
}

.menu-placeholder {
    height: 34px;
}
