@import 'bootstrap/less/bootstrap';

.bar {
    position: fixed;
    width: 100%;
}

.loading-bar {
    .bar;

    height: 4px;
    margin: 0;
}

.inner-image {
    width: 120px;
    height: 90px;

    top: -11px;
    position: absolute;
}

.outer-image {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 68px;
}

.audio-bar {
    .bar;

    bottom: 0;
    height: 100px;
    background: white;
}

.text-timer {
    font-size: 12px;
}

.slider-selection {
    .btn-info;

    background-image: none;
}

.slider-track-high {
    background: gray;
}

.slider-handle {
    background: white;
    border: 6px solid black;
    border-radius: 50%;
}

.slider.slider-horizontal {
    width: 100%;
}

.result {
    margin-top: 40px;
}
