.bar {
    position: fixed;
    width: 100%;
}

.loading-bar {
    .bar;

    height: 3px;
    margin: 0;
}

.audio-bar {
    .bar;

    font-size: 28px;
    bottom: 0;
    height: 150px;
}

.text-small {
    font-size: 12px;
}

.slider-selection {
    background: blue;
}

.slider-track-high {
    background: red;
}

.slider-handle {
    background: green;
}

.slider.slider-horizontal {
    width: 100%;
}
