<div class="row">
    <div class="col-xs-2 text-left">
        <span class="badge">
            {{models.length}}
        </span>
    </div>

    {{yield}}

    <div class="col-xs-2 text-right">
        <div {{action 'deselect'}} class="inner-label">
            <i class="mdi-navigation-cancel"></i>
        </div>
    </div>
</div>
