<div class="row">
    <div class="col-xs-2 text-left">
        <span class="badge">
            {{models.length}}
        </span>
    </div>

    {{yield}}

    <div class="col-xs-2 outer-label">
        {{menu-icon action='deselect' icon='mdi-navigation-cancel'}}
    </div>
</div>
