{{model.name}}

<!-- TODO: Implement correctly -->
{{#if showEdit}}
    <div class="action-panel">
        <div {{action 'edit'}} class="col-xs-6 inner-fill">
            <i class="fa fa-pencil"></i>
        </div>

        <div {{action 'remove'}} class="col-xs-6 inner-fill">
            <i class="btn fa fa-trash-o"></i>
        </div>
{{/if}}
