<div class="row">
    <div class="col-xs-3" />

    <div class="col-xs-6">
        <div class="toast-message text-center">
            {{{content}}}
        </div>
    </div>

    <div class="col-xs-3" />
</div>


